@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Open+Sans:wght@400;500&display=swap");
@font-face {
  font-family: "Cera Round Pro";
  src: url(Demo_fonts/Fontspring-DEMO-ceraroundpro-black.otf);
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.scrolled {
  padding-top: 5px !important;
  padding-bottom: 10px !important;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
}

nav {
  padding-top: 26px !important;
  padding-bottom: 26px !important;
  transition: 0.5s;
  background-color: #bb2339;
}
nav .navbar-nav .nav-item .nav-link {
  color: white;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  margin-left: 15px;
}
nav .ic-2 {
  color: #bb2339;
}
nav .btn-1 {
  padding: 8px 38px;
  border: 1px solid white;
  background-color: #bb2339;
}

.contact {
  padding-top: 100px;
}
.contact .home__href {
  margin-top: 43px;
  margin-bottom: 20px;
}
.contact .home__href a {
  color: #b0b0b0;
  margin-left: 5px;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Open Sans;
  font-size: 14px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: capitalize;
}
.contact .home__href .act {
  color: #bb2339;
}
.contact .home__href span {
  margin-left: 5px;
  color: #b0b0b0;
}
.contact .home__about {
  width: 78%;
  margin-bottom: 57px;
}
.contact .home__about .home__about-header {
  text-align: center;
  color: #242424;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Cera Round Pro;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.92px;
  text-transform: capitalize;
}
.contact .contact__form-header {
  width: 100%;
  text-align: left;
}
.contact .info__form {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 1050px) {
  .contact .info__form {
    flex-direction: column;
  }
}
.contact .info__form .contact__info .social__medias {
  margin-bottom: 15px;
  display: flex;
  gap: 25px;
  padding: 25px 100px 25px 20px;
  border-radius: 14px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  background: #fff;
}
.contact .info__form .contact__info .social__num-name {
  margin-bottom: 0px;
  color: #242424;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
}
.contact .info__form .contact__info .social__number {
  margin-top: 0px;
  color: #242424;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.contact .info__form .contact__forms form {
  padding: 40px 0px 50px 30px;
  border-radius: 14px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  background: #fff;
}
.contact .info__form .contact__forms form .contact__forms-sub {
  margin-top: 30px;
  margin-bottom: 16px;
  color: #242424;
  font-family: Open Sans;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
}
.contact .info__form .contact__forms form .contact__forms-paragraph {
  margin-top: 16px;
  margin-bottom: 50px;
  width: 68%;
  color: #242424;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.contact .info__form .contact__forms form .content {
  display: flex;
  gap: 20px;
  display: flex;
}
@media (max-width: 1000px) {
  .contact .info__form .contact__forms form .content {
    flex-direction: column;
  }
}
.contact .info__form .contact__forms form .content .input-box input {
  padding: 15px 150px 15px 20px;
  border-radius: 12px;
  border: 1px solid rgba(51, 34, 68, 0.1);
  background: #fff;
  margin-bottom: 15px;
}
@media (max-width: 1000px) {
  .contact .info__form .contact__forms form .content .input-box input {
    padding: 15px 90px 15px 20px;
  }
}
@media (max-width: 800px) {
  .contact .info__form .contact__forms form .content .input-box input {
    padding: 13px 80px 14px 20px;
  }
}
@media (max-width: 320px) {
  .contact .info__form .contact__forms form .content .input-box input {
    padding: 12px 20px 12px 10px;
  }
}
.contact .info__form .contact__forms form .content .input-box input ::-moz-placeholder {
  color: #333;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6000000238;
}
.contact .info__form .contact__forms form .content .input-box input ::placeholder {
  color: #333;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6000000238;
}
.contact .info__form .contact__forms form .input-2 {
  margin-top: 10px;
  border-radius: 14px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  background: #fff;
  padding: 20px 518px 100px 20px;
  color: #333;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1000px) {
  .contact .info__form .contact__forms form .input-2 {
    padding: 17px 100px 90px 20px;
  }
}
@media (max-width: 700px) {
  .contact .info__form .contact__forms form .input-2 {
    padding: 18px 90px 85px 20px;
  }
}
@media (max-width: 330px) {
  .contact .info__form .contact__forms form .input-2 {
    padding: 18px 40px 75px 20px;
  }
}
.contact .info__form .contact__forms form .subnission {
  margin-top: 43px;
  border: none;
  padding: 18px 45px;
  background-color: #bb2339;
  border-radius: 39px;
  color: #fff;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contact .info__form .contact__forms form .subnission:hover {
  background-color: black;
}

.map {
  padding: 100px 0px;
}
.map__texts {
  margin-bottom: 40px;
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Cera Round Pro;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 49.4px */
  letter-spacing: 1.14px;
  text-transform: capitalize;
}

.newsletter {
  position: relative;
  display: inline-block;
  width: 90%;
  top: 250px;
  left: 70px;
  padding: 64px 100px;
  border-radius: 20px;
  text-align: center;
  background: #bb2339;
  box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
}
@media (max-width: 900px) {
  .newsletter {
    left: 30px;
    padding: 64px 0px;
  }
}
@media (max-width: 900px) {
  .newsletter {
    left: 20px;
    padding: 64px 0px;
  }
}
.newsletter__head {
  color: var(--ffffff, #fff);
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Cera Round Pro;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 29.9px */
  letter-spacing: 0.92px;
  text-transform: capitalize;
}
.newsletter__head-header {
  color: #fff;
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Cera Round Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 62.4px */
  letter-spacing: 1.44px;
  text-transform: capitalize;
}
.newsletter__head-part {
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
}
.newsletter__btn {
  margin-top: 64px;
}
.newsletter__btn input {
  background-color: transparent;
  padding: 12px 250px 12px 18px;
  border-radius: 100px;
  border: 1px solid rgba(245, 239, 219, 0.5);
}
@media (max-width: 1000px) {
  .newsletter__btn input {
    padding: 12px 150px 12px 18px;
    margin-bottom: 20px;
  }
}
@media (max-width: 900px) {
  .newsletter__btn input {
    padding: 12px 130px 12px 18px;
  }
}
@media (max-width: 800px) {
  .newsletter__btn input {
    padding: 12px 100px 12px 18px;
  }
}
@media (max-width: 500px) {
  .newsletter__btn input {
    padding: 12px 80px 12px 18px;
  }
}
@media (max-width: 450px) {
  .newsletter__btn input {
    padding: 12px 50px 12px 15px;
  }
}
@media (max-width: 400px) {
  .newsletter__btn input {
    padding: 12px 40px 12px 12px;
  }
}
@media (max-width: 350px) {
  .newsletter__btn input {
    padding: 12px 35px 12px 10px;
  }
}
.newsletter__btn input::-moz-placeholder {
  color: var(--aaaaaa, #aaa);
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Cera Round Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: 0.64px;
  text-transform: capitalize;
}
.newsletter__btn input::placeholder {
  color: var(--aaaaaa, #aaa);
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Cera Round Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: 0.64px;
  text-transform: capitalize;
}
.newsletter__btn .sub {
  margin-left: 32px;
  background-color: transparent;
  color: #fff;
  font-family: Cera Round Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 175%; /* 28px */
  letter-spacing: 0.64px;
  padding: 10px 32px;
  border-radius: 100px;
  border: 1px solid #fff;
}

.footer {
  padding: 200px 0px 10px;
  background-color: #bb2339;
}
.footer .footer__items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 900px) {
  .footer .footer__items {
    flex-wrap: wrap;
  }
}
.footer .footer__items .footer__header {
  color: #fff;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Cera Round Pro;
  font-size: 28px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: 130%; /* 41.6px */
  letter-spacing: 1.28px;
  text-transform: capitalize;
}
.footer .footer__items .footer__paragraph {
  margin-bottom: 24px;
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px;
}
.footer .footer__items .footer__img {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 900px) {
  .footer .footer__items .footer__img {
    margin-top: 20px;
  }
}
.footer .footer__items .footer__paragraphs {
  margin-top: 32px;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.64px;
}
@media (max-width: 900px) {
  .footer .footer__items .footer__paragraphs {
    margin-top: 20px;
  }
}
.footer .footer__items .footer__link a {
  display: inline-block;
  width: 50%;
  margin: 0 auto;
  margin-left: 20%;
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px;
}
.footer .footer__items .footer__icons {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 900px) {
  .footer .footer__items .footer__icons {
    margin-bottom: 20px;
  }
}
.footer .footer__items .footer__par {
  margin-bottom: 12px;
  width: 60%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px;
}
@media (max-width: 900px) {
  .footer .footer__items .footer__par {
    margin-top: 20px;
  }
}
.footer .footer__reser {
  margin-top: 80px;
  padding-bottom: 30px;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
}

#backtop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  right: 50px;
  bottom: 50px;
  /* bottom: -100px; */
  opacity: 0;
  border-radius: 50%;
  z-index: -1;
  background-color: transparent;
  transition: 0.5s;
}

#backtop.backtop-show {
  /* bottom: 50px; */
  opacity: 1;
  z-index: 10;
}